body, html {
    margin: 0;
    height: 100%
     }

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    overflow: hidden;
    background-color: #eeeeee;
    transition: all 0.2s;
}
     
 *{
     box-sizing: border-box;
 }
 
 
 img{
     display: block;
     height: auto;
     width: 100%;
 }
 
 h1{
 font-weight:600;
 font-size:40px
 }

 .modo-oscuro{
     background-color:#30343f;
     color:#fafafa;
 }



 .contenedor-seccion-generador-memes{
     display: flex;
     flex-direction: column;
     width: 80%;
 }

 header{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color:#e0e0e0;
    background-color:rgb(33 33 33 / 70%);

 }

 .titulo-de-aplicacion{
     font-weight:600;
     font-size: 25px;

 }
 .contenedor-meme{
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color:#d3d6e0;
     height: 100%
 }

 .contenido-meme{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 600px;
     background-color:white;
     padding:2px;
     text-align: center;
     font-weight: 800;
     height: 100%;
     justify-content: space-between;
 }

 .contenedor-botones>button{
     border:none;
     border-radius: 8px;
     padding: 12px;
     margin: 10px;
     background-color: transparent;
     color: white;
 }

 .contenedor-botones>button:hover{
    background-color: #808080;
 }

 p{
    background-color: white;
    padding:5px;
    width: 100%;
    color: black;
 }

 .contenedor-imagen{
     width:100%;
 }
 .imagen-meme{
     width: 100%;
 }

.panel-imagen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    
}

.display-none{
    display: none;
}

.display-block{
    display: block;
}

/*filtros panel imagen*/
.contenedor-panel-imagen{
    display: flex;
    width: 20%;
    overflow: auto;
}

.panel-imagen{
    display: flex;
}
.contenedor-input-fondo{
    display: flex;
    justify-content: space-around;
}

.contenedor-slider{
    display: flex;
    flex-direction: column;
}

.boton-reestablecer-filtros{
    padding: 10px;
    display: flex;
    border-radius: 20px;
    margin-top: 20px;
    border-radius: 3px solid ;
    background-color:#e0e0e0
}



.boton-reestablecer-filtros:hover{
    background-color:#bdbdbd;
}


/*Panel texto*/
.contenedor-panel-texto{
    display: flex;
    width: 20%;
    display: none;
    overflow: auto;
   
}
.panel-texto{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.input-tamanio-fuente{
    display: flex;
    padding: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.contenedor-botones-alineacion{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    justify-content: space-between;
}

.contenedor-color-fuente{
    display: flex;
    flex-direction: row;
}

.contenedor-color-fondo{
    display: flex;
}

.contenedor-fondo-transparente{
    display: flex;
}

.contenedor-interlineado{
    display: flex;
}
/*Media queries*/
@media (max-width:768px){
body{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.contenedor-seccion-generador-memes{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenido-meme{
    width: 100%;
}

.contenedor-panel-imagen{
    display: block;
    width: 100%;
    overflow: visible;
}

.contenedor-panel-texto{
    display: block;
    width: 100%; 
    overflow: visible;  
}

.boton-panel-imagen{
    display: none;
}

.boton-panel-texto{
    display: none;
}


}

/*Hola profe! esta idea de responsive no me cierra mucho, si bien creo que funciona no me parece la mejor, vi que el de Ada esta distinto, es que media queries es algo que no he comprendido del todo, y eso me preocupa un poco*/
