body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color:white;
    display: flex;
   
     }
     
 *{
     box-sizing: border-box;
 }
 
 
 img{
     display: block;
     height: auto;
     width: 100%;
 }
 
 h1{
 font-weight:600;
 font-size:40px
 }

 .modo-oscuro{
     background-color: black;
     color:white;
 }

 header{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 10px;
 }

 .contenedor-meme{
     display: flex;
     flex-direction: column;
     background-color: pink;
     align-items: center;
   
 }

 .contenido-meme{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 600px;
     background-color: rebeccapurple;
     padding:2px;
     text-align: center;
     font-weight: 800;
     
 }

 .texto-superior{
    padding:5px;
    width: 100%;
 }

 .texto-inferior{

     padding: 5px;
     width: 100%;
 }

 .contenedor-seccion-generador-memes{
     width: 80%;
 }

 #imagen-meme{
     width: 100%;
     padding:80px;
     
 }

 img{
    width: 100%;
    height: 400px;
 }

.panel-imagen{
    padding: 20px;
    line-height: 1.5;
}

.display-none{
    display: none;
}

.display-block{
    display: block;
}

/*filtros panel imagen*/
.contenedor-select-fondo{
    display: flex;
    justify-content: space-around;
}

.boton-reestablecer-filtros{
    padding: 10px;
    display: flex;
    border-radius: 20px;
    margin-top: 20px;
    border-radius: 1px solid black;
}

/*Panel texto*/
